/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}


/* Visibility utilities */

/* For desktops */
.visible-phone     { display: none !important; }
.visible-tablet    { display: none !important; }
.visible-desktop   { } /* Don't set initially */
.hidden-phone      { }
.hidden-tablet     { }
.hidden-desktop    { display: none !important; }

/* Phones only */
@media (max-width: 767px) {
    /* Show */
    .visible-phone     { display: inherit !important; } /* Use inherit to restore previous behavior */
    /* Hide */
    .hidden-phone      { display: none !important; }
    /* Hide everything else */
    .hidden-desktop    { display: inherit !important; }
    .visible-desktop   { display: none !important; }
}

/* Tablets & small desktops only */
@media (min-width: 768px) and (max-width: 979px) {
    /* Show */
    .visible-tablet    { display: inherit !important; }
    /* Hide */
    .hidden-tablet     { display: none !important; }
    /* Hide everything else */
    .hidden-desktop    { display: inherit !important; }
    .visible-desktop   { display: none !important ; }
}



/* Responsive media */
/*
<div id="featured">
  <img src="subject.png"/>
</div>
*/
img,
object,
embed,
video {
    max-width: 100%;
}

/* Responsive font */

html, body {
    font-size:100%;
    /* 1em = 16px */
}


/* Responsive Table*/
/*
Responsive Data Table Roundup http://css-tricks.com/responsive-data-table-roundup/
http://dbushell.com/demos/tables/rt_05-01-12.html
https://developer.mozilla.org/en/CSS/Flexbox
*/
@media (max-width: 40em) { /*640*/

    table { display: block; position: relative; width: 100%; }
    table thead { display: block; float: left; }
    table tbody { display: -webkit-box; overflow-x: auto; }
    table th,
    table tr,
    table td { display: block; }

}
